News.xcworkspace/contents.xcworkspacedata
News.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
News.xcworkspace/xcuserdata/
News.xcodeproj/xcuserdata/
News.xcodeproj/project.xcworkspace/contents.xcworkspacedata
News.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
News.xcodeproj/project.xcworkspace/xcuserdata/
Podfile.lock
Pods/
.DS_Store
